<div class="modal fade" id="article-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <%= "#{@article.author.display_name}, #{@article.coauthors}"%>
        </h4>
      </div>
      <div class="modal-body">
        <%= @article.title %> <br>
        <%= "#{@article.journal.title}. - #{@article.publication_data}" %>
      </div>
      <div class="modal-footer">
        <% @article.article_files.each do |article_file| %>
          <%= link_to(article_file.file.original_filename, article_file.file.url, :target => '_blank') %> <br>
        <% end %>
      </div>
    </div>
  </div>
</div>