<%= render partial: 'common/header', locals: {active: 'home'} %>
<%= render partial: 'users/user_info' %>

<div id="modal-container"></div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Перечень публикаций
        </a>
        <a href="javascript:void(0);" class="pull-right">
          Добавить публикацию
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <table class="table table-striped">
            <%= render @articles %>
          </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          Участие в конференциях
        </a>
        <a href="javascript:void(0);" class="pull-right">
          Добавить конференцию
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Список конференций
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
          Участие в курсах повышения квалификации
        </a>
        <a href="javascript:void(0);" class="pull-right">
          Добавить курс
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Список курсов
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('tr').click(function() {
        $.get('/articles/' + this.getAttribute('article-id'));
    });
</script>