<li>
  <%= bookmark_group[:title] %>
  <ul>
    <% unless bookmark_group[:bookmark_groups].blank? %>
        <% bookmark_group[:bookmark_groups].each do |bookmark_group| %>
            <%= render partial: 'active_admin/page/bookmark_group', locals: {bookmark_group: bookmark_group} %>
        <% end %>
    <% end %>

    <% bookmark_group[:bookmarks].each do |bookmark| %>
        <li><%= link_to bookmark[:title], bookmark[:link], target: '_blank' %></li>
    <% end %>
  </ul>
</li>