<div id="bookmarks-tree-container">
  <ul>
    <% @folders.each do |folder| %>
        <%= render partial: 'active_admin/page/folder', locals: {folder: folder} %>
    <% end %>
  </ul>
</div>


<script>
  $(function () {
    $('#bookmarks-tree-container').jstree({
      "core": {"check_callback": true},
      "plugins": ["dnd", "contextmenu"]
    });
  });
  $('#bookmarks-tree-container').bind("move_node.jstree", function (e, data) {
    console.log(e.target.getAttribute('data-id'));
    console.log(data);
  });

  $('#bookmarks-tree-container').bind('create_node.jstree', function (node, ref) {
//    alert('oncreate');
  });

  $('#bookmarks-tree-container').bind('rename_node.jstree', function (e, data) {
    console.log(data);
    rename(data['node']['li_attr']['data-id']);
  });

  $('#bookmarks-tree-container').bind('remove.jstree', function (node, ref) {
//    alert('ondelete');
  });

  function rename(id) {
    $.ajax({
      method: 'PUT',
      url: '/folders/' + id,
      data: {
        folder: {
          title: 'hello2'
        }
      }
    });
  }
</script>